# URL base del Backend para el entorno de desarrollo y producción.
# Si estás usando el proxy de Vite en desarrollo (target configurado en vite.config.ts),
# puedes dejar esta variable comentada o vacía para usar rutas relativas.
VITE_API_URL=http://localhost:3000/api/v1
